#logo {
    display: block;
    margin: auto;
}

.top {
	position: absolute;
	right: 20px; top: 15px;
}


.main #search_box {
	display: block;
	margin: 20px auto;
	width: 500px;
	height: 40px;
}

.buttons {
	display: block;
	text-align: center;
}

.buttons input {
	margin: 10px 20px;
	height: 35px;
	border: none;
	background-color: rgb(242, 242, 242);
	color: rgb(34, 34, 34);
}

.fbar {
	position: absolute;
	bottom: 5px;
	background-color: rgb(242, 242, 242);
	margin: auto;
	width: 100%;
}

li {
	float: left;
	display: block;
	padding: 10px;
}

li a {
	height: 50px;
}


.main {
	margin: 100px;
}

.right {
	float: right;
}

.right a, .left a {
	margin: 10px;
}

.above_footer p {
	margin: auto 10px;
	color: rgb(102, 102, 102);
}

.left {
	position: absolute;
	float: bottom;
}

.footer, .above_footer {
	border-top-color: rgb(228, 228, 228);
	border-top-style: solid;
	border-top-width: 1px;
	height: 40px;
}

.fbar a, .top a {
	text-decoration: none;
	color: rgb(102, 102, 102);
}

* {
	font-family: "arial", sans-serif;
	font-size: 14px;
}